# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# !pip install gmaps

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [3]:
# !jupyter nbextension enable --py gmaps

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
# Read the csv 
cities_df = pd.read_csv("../WeatherPy/output_data/cities.csv")
cities_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,MaxTemp,WindSpeed
0,0,comodoro rivadavia,0,AR,1615935969,76,-45.8667,-67.5000,51.80,3.20
1,1,faanui,19,PF,1615935933,72,-16.4833,-151.7500,82.60,10.69
2,2,upernavik,99,GL,1615935970,95,72.7868,-56.1549,-1.39,4.07
3,3,puerto escondido,20,MX,1615935970,70,15.8500,-97.0667,84.20,11.50
4,4,rikitea,68,PF,1615935766,74,-23.1203,-134.9692,80.49,8.61

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps
gmaps.configure(api_key = g_key)

In [6]:
# Use the Lat and Lng as locations and Humidity as the weight
locations = cities_df[["Lat", "Lng"]]
humidity = cities_df["Humidity"]

# Add Heatmap layer to map
fig = gmaps.figure(center = (40, -99), zoom_level = 4)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius = 5)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# Narrow down the cities to fit weather conditions
# Temp (70-90), Wind Speed < 10, Cloudiness = 0 
ideal_cities_df = cities_df.loc[(cities_df["MaxTemp"]    <  90) &
                                (cities_df["MaxTemp"]    >= 70) &
                                (cities_df["WindSpeed"]  <  10) &
                                (cities_df["Cloudiness"] == 0)
                               ].dropna()
ideal_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,MaxTemp,WindSpeed
6,6,salalah,0,OM,1615935866,68,17.0151,54.0924,73.40,3.44
15,15,saint-philippe,0,RE,1615935975,69,-21.3585,55.7679,75.20,6.91
52,52,yarada,0,IN,1615935990,77,17.6500,83.2667,77.02,4.25
75,75,mitsamiouli,0,KM,1615936000,70,-11.3847,43.2844,81.77,4.92
90,90,maragogi,0,BR,1615935753,76,-9.0122,-35.2225,77.56,8.03
210,210,saint-joseph,0,RE,1615935992,69,-21.3667,55.6167,75.20,6.91
218,218,qena,0,EG,1615936061,43,26.1615,32.7183,71.60,4.61
240,240,adrar,0,MR,1615936070,14,20.5022,-10.0711,72.82,9.37
242,242,pilar,0,BR,1615936070,83,-9.5972,-35.9567,75.20,4.61
266,266,abu zabad,0,SD,1615936082,10,12.3500,29.2500,81.16,9.69

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# Store into variable named hotel_df and add a "Hotel Name" column to the DataFrame
hotel_df = ideal_cities_df[["City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ''
hotel_df.head(10)

               City Country      Lat      Lng Hotel Name
6           salalah      OM  17.0151  54.0924
15   saint-philippe      RE -21.3585  55.7679
52           yarada      IN  17.6500  83.2667
75      mitsamiouli      KM -11.3847  43.2844
90         maragogi      BR  -9.0122 -35.2225
210    saint-joseph      RE -21.3667  55.6167
218            qena      EG  26.1615  32.7183
240           adrar      MR  20.5022 -10.0711
242           pilar      BR  -9.5972 -35.9567
266       abu zabad      SD  12.3500  29.2500

In [9]:
 # Set Endpoint
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Set parameters to search for hotels with 5000 meters
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

In [10]:
# Hit the Google Places API for each city's coordinates.

not_found = []
count = -1

# Iterate to find hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    city = row["City"]
    
    params["location"] = f"{lat},{lng}"
    
    # make request 
    response = requests.get(base_url, params=params)
    
    # convert to json
    response = response.json()
    
    # Grab the first hotel from the results and store the name
    try:
        print(f"Hotel found for city: {city}")
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
        count = count + 1
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        count = count + 1
        not_found.append(count)

Hotel found for city: salalah
Hotel found for city: saint-philippe
Hotel found for city: yarada
Hotel found for city: mitsamiouli
Hotel found for city: maragogi
Hotel found for city: saint-joseph
Hotel found for city: qena
Hotel found for city: adrar
Missing field/result... skipping.
Hotel found for city: pilar
Hotel found for city: abu zabad
Hotel found for city: udgir
Hotel found for city: koratla
Hotel found for city: sao jose da coroa grande
Hotel found for city: san isidro
Hotel found for city: inhambane
Hotel found for city: tambacounda
Missing field/result... skipping.
Hotel found for city: lima
Hotel found for city: tecoanapa
Hotel found for city: beloha
Missing field/result... skipping.
Hotel found for city: vila velha
Hotel found for city: gao
Missing field/result... skipping.
Hotel found for city: kutum
Hotel found for city: bonthe
Hotel found for city: panguna
Missing field/result... skipping.
Hotel found for city: ramgarh

In [11]:
hotel_df = hotel_df.reset_index(drop = True)
hotel_df = hotel_df.drop(hotel_df.index[not_found])
# hotel_df.shape
hotel_df

,City,Country,Lat,Lng,Hotel Name
0,salalah,OM,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
1,saint-philippe,RE,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
2,yarada,IN,17.6500,83.2667,Jeevan
3,mitsamiouli,KM,-11.3847,43.2844,Foyer ADM
4,maragogi,BR,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
5,saint-joseph,RE,-21.3667,55.6167,"""Plantation Bed and Breakfast"
6,qena,EG,26.1615,32.7183,"Grand hotel ""Quena"""
8,pilar,BR,-9.5972,-35.9567,Pousada e churrascaria Manguaba
9,abu zabad,SD,12.3500,29.2500,حامد محمد نور
10,udgir,IN,18.3833,77.1167,Sarpmitra Ganesh Kallure
11,koratla,IN,18.8167,78.7167,Srinivasa Lodge
12,sao jose da coroa grande,BR,-8.8978,-35.1478,Crôa Mares Hotel
13,san isidro,PE,-12.1167,-77.0500,Soul Mate-Inn
14,inhambane,MZ,-23.8650,35.3833,Oceano
16,lima,PE,-12.0432,-77.0282,Gran Hotel Bolivar Lima
17,tecoanapa,MX,16.5167,-98.7500,Hotel Manglares
19,vila velha,BR,-20.3297,-40.2925,Quality Suites Vila Velha
21,kutum,SD,14.2000,24.6667,Dibbo areaمنطقة دبو
22,bonthe,SL,7.5264,-12.5050,Bonthe Holiday Village
24,ramgarh,IN,23.6333,85.5167,HOTEL TREAT RESIDENCY

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

center_coordinates = (0,0)
fig = gmaps.figure(center = center_coordinates, zoom_level=1)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display Map
print(fig)

Figure(layout=FigureLayout(height='420px'))